/*===== DIV-FOCUS =====*/
.form__div.focus {
  border-bottom: 1px solid var(--first-color);
}

.form__div-one {
  margin-bottom: 3rem;
}

.form__icon {
  font-size: 1.5rem;
  color: var(--text-color);
  transition: 0.3s;
}
